body {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.intro p,
.test-area {
  margin: 0 auto;
  max-width: 750px;
}

.masthead {
  padding: 1em 2em;
  background-color: #0d1b2e;
  color: white;
}
.masthead h1 {
  text-align: center;
}
.intro {
  padding: 2em 2em;
  color: #ffffff;
  background: #429890;
}

.test-wrapper {
  border: 10px solid grey;
  border-radius: 10px;
}
#origin-text {
  margin: 1em 0;
  padding: 1em 1em 0;
  background-color: #ededed;
}
#origin-text p {
  margin: 0;
  padding-bottom: 1em;
}
.test-wrapper {
  height: 200%;
  display: flex;
}
.test-wrapper textarea {
  flex: 1;
}
.meta {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}
.timer {
  font-size: 3em;
  font-weight: bold;
}
#reset {
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-weight: bold;
  color: #e95d0f;
  background: white;
  border: 10px solid #e95d0f;
}
#reset:hover {
  cursor: pointer;
  color: white;
  background-color: #e95d0f;
}
